<div id="lates-news-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
  <div id="latest-news-carousel-inner" class="carousel-inner">
    @for (latestNewsSlide of latestNewsSlides; track $index) {
    <div class="carousel-item" [ngClass]="{'active': $index===0}">
      <img loading="lazy" [src]="latestNewsSlide.imagePath" class="d-block w-100 img-fluid rounded"
        alt="img slide not found">
      <div class="carousel-caption text-start start-0 bottom-0 p-4 w-100">
        <h5 class="text-dark fw-semibold">{{latestNewsSlide.title}}</h5>
        <p class="text-dark mb-0">{{latestNewsSlide.desc}}</p>
      </div>
    </div>
    }
  </div>
  <div id="latest-news-carousel-indicators" class="carousel-indicators position-relative mt-2">
    @for (latestNewsSlide of latestNewsSlides; track $index) {
    <button type="button" data-bs-target="#lates-news-carousel" [attr.data-bs-slide-to]="$index" class=""
      [attr.aria-label]="'slide ' + $index" [ngClass]="{'active': $index===0}">
    </button>
    }
  </div>
</div>